<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) Istituto Nazionale di Fisica Nucleare (INFN).
    SPDX-License-Identifier: Apache-2.0

-->
<configuration>    
    <logger name="org.eclipse.jetty" level="ERROR" />
        
    <!-- NORMALLY YOU SHOULD NOT EDIT BELOW THIS POINT  -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS'Z',UTC} - %level [%logger{0}] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>