<!-- Needs "selected" release initialized -->
<table>
	<thead>
		<tr>
			<th align=left>Component</th>
			<th align=left>Version</th>
		</tr>
	</thead>
	<tbody>
	{% for component in selected.components %}
		<tr>
			<td align=left>
			{% for item in site.storm_components %}
			  {% if item.package == component.name %}
			    {{ item.name }}
			  {% endif %}
			{% endfor %}
			</td>
			<td align=left>
				<a href="{{site.baseurl}}/release-notes/{{ component.name }}/{{ component.version }}/{{ component.name }}-v{{ component.version }}.html">{{ component.version }}</a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>