<div style="margin-bottom: 8px; margin-top: 15px;">
	<div style="float: left; margin-left: 4px;">
		<img class="media-object pull-left img-rounded" src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=64">
	</div>
	<div style="float: left; margin-left: 20px;">
		<b>{{ author.display_name }}</b><br/>
		<a href="mailto:{{ author.email }}">{{ author.email }}</a><br/>
		GitHub: <a href="https://github.com/{{ author.github }}">{{ author.github }}</a>
	</div>
	<div style="clear: both;"></div>
</div>
