 <!-- Main NAVBAR -->
 <div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		
			<a class="brand" href="{{ site.baseurl }}/index.html">StoRM</a>
			<div class="nav-collapse collapse pull-right">
				<ul class="nav">
					<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
					<li><a href="{{ site.baseurl }}/download.html">Downloads</a></li>
					<li><a href="{{ site.baseurl }}/documentation/{{ site.storm_latest_version }}/index.html">Documentation</a></li>
					<li><a href="{{ site.baseurl }}/support.html">Support</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>