<table>
  <thead>
    <tr>
      <th>Component</th>
      <th>Releases
          <button id="release-button" type="button" class="btn btn-mini pull-right"
            data-toggle="collapse" data-target=".collapse">Show older releases</button>
      </th>
    </tr>
  </thead>
  <tbody>
{% for component in site.data.versions.components %}
  <tr>
  <td> {{component[1].name }} </td>
  <td>
      <ul class="unstyled" style="margin: 0 0;">
        <li>
          <a href="{{site.baseurl}}{{site.releasenotes_path}}/{{component[0]}}/{{component[1].current}}">{{component[1].current}}</a>
        </li>
    {% if component[1].previous != empty %}
        {% for version in component[1].previous %}
          <li class="collapse"><a href="{{site.baseurl}}{{site.releasenotes_path}}/{{component[0]}}/{{version}}">{{version}}</a></li>
        {% endfor %}
    {% endif %}
     </ul>
  </td>
  </tr>
{% endfor %}
  </tbody>
</table>
