<!-- StoRM repositories -->
{% for platform in site.data.repositories %}
<h4>{{platform[0]}}</h4>
<table>
  <tbody>
  {% for repo in platform[1] %}
    <tr>
      <td>
        <b>{{repo[1].name}}</b>
      </td>
      <td>
        {{repo[1].description}}
        <a class="pull-right" style="margin-left: 5px" href="{{repo[1].url}}"><i class="icon-search"></i> browse </a>
        <a class="pull-right" style="margin-left: 5px" href="{{repo[1].repofile}}"><i class="icon-download-alt"></i> .repo </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endfor %}
