.fixed-height { min-height: 60px !important; }
.offset-20y { margin-top: 20px }
.offset-60y { margin-top: 60px }

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 940px;
    text-align:justify;
    text-justify:inter-word;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

footer,
.footer-bar {
  background-color: #3d3f42;
}
.footer-bar {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 40px;
  padding-top: 6px;
  color: #cccccc;
  text-align: center;
}

.footer-bar img {
    margin-right: 5px;
}

footer .container {
  text-align: left;
}

/** headings, paragraphs, and code got to look like
  on github wiki */

h1 {
    color: rgb(51, 51, 51);
    font-size: 36px;
    line-height: normal;
}

h2 {
    color: rgb(51, 51, 51);
    border-bottom-color: rgb(238, 238, 238);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.highlight pre code {
	font-size: 13px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    line-height: 19px;
}

.navbar .brand{
    font-size:24px;
    font-weight: bold;
}

/* */

#stormcontent p {
    line-height: 25px;
}

#stormcontent li{
    line-height: 25px;
}

.marketing {
    color: #5a5a5a;
}

.marketing h1 {
    color: #5a5a5a;
    margin: 15px 0;
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1px;
    height: auto;
}

.marketing h2 {
    border-bottom: none;
    color: #5a5a5a;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 10px;
}

.marketing h3 {
    font-weight: 200;
}

span.news-title {
    font-size: 24px;
    font-weight: 200;
    margin-right: 10px;
}

.marketing h4 {
    font-weight: 200;
}

.marketing p {
    line-height: 24px;
}


.marketing ul li h4 a {
    color: #5a5a5a;
}

.marketing ul li h4 a:hover {
    color: #ad141e;
    text-decoration:none;
}

.marketing h3 a {
    color: #5a5a5a;
}

.marketing h3 a:hover {
    color: #ad141e;
    text-decoration:none;
}

.marketing h2 a {
    color: #5a5a5a;
}

.marketing h2 a:hover {
    color: #ad141e;
    text-decoration:none;
}

.news-row {
	margin-bottom: 1em;
}

.news-row h3 {
    margin-top: 0;
    line-height: 24px;
}

#toc {
	margin-left: 40px;
	width: 250px;
}

/* Large desktop */
@media (min-width: 1024px) {
	#content {
		padding-left: 330px;
		padding-right: 40px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1023px) {
	#toc {
		display: none;
	}
	#content {
		padding-left: 40px;
		padding-right: 40px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	#content {
		padding-left: 40px;
		padding-right: 40px;
	}

}

/* Landscape phones and down */
@media (max-width: 480px) {

	#content {
		padding-left: 40px;
		padding-right: 40px;
	}

}

/*
In order to position anchors under the height of a fixed element,
format 'a' elements as follows:
*/
a[name] {
    padding-top: 50px;
    margin-top: -50px;
    display: inline-block; /* required for webkit browsers */
}

.anchor h1, .anchor h2, .anchor h3, .anchor h4, .anchor h5,
.anchor div[id^="Table"] {

  margin-top: -50px;
  padding-top: 60px;

}

p.note {
  padding: 2px 8px;
  border-bottom: 1px solid lightgray;
  background: royalblue;
  color: white;
  border-radius: 4px;
}

blockquote p {
  font-size: 14px;
  line-height: 20px;
}
