hr.soften {
	margin: 40px 0;
}

.marketing {
	color: #5a5a5a;
}

.marketing h1 {
	margin: 15px 0;
	font-size: 50px;
	font-weight: 200;
	line-height: 1;
	letter-spacing: -1px;
}

.marketing h2 {
	font-weight: 200;
}

.marketing h3 {
	font-weight: 200;
}

.marketing h4 {
	font-weight: 200;
}

.marketing ul li h4 a {
	color: #5a5a5a;
}

.marketing ul li h4 a:hover {
	color: #ad141e;
	text-decoration:none;
}

.marketing h3 a {
	color: #5a5a5a;
}

.marketing h3 a:hover {
	color: #ad141e;
	text-decoration:none;
}

.marketing h2 a {
	color: #5a5a5a;
}

.marketing h2 a:hover {
	color: #ad141e;
	text-decoration:none;
}

.footer {
	text-align: center;
	margin: 20px 0 0 0;
	padding: 30px 0;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}
