<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{page.title}}</title>

    <link href="{{site.baseurl}}/assets/css/bootstrap.min.css" rel="stylesheet"/>    
    <link href="{{site.baseurl}}/assets/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet"/>
    <link href="{{site.baseurl}}/assets/css/pygments.css" rel="stylesheet"/>
  </head> 
  <body>
    <div id="wrap">
        {% include github-ribbon.html %}
        {% include navbar.html %}
        
        <div class="container">
            <div id="stormcontent">
                {{content}}
            </div>
        </div>
        <div id="push"></div>
    </div> <!-- wrap element -->
    
    <!-- Footer -->
    <div id="footer">
        <div class="container">
        </div>
    </div>
    {% include scripts.html %}
  </body>
</html>

