---
layout: default
---

<div class="row">
	<div class="span8">
		{{ content }}
	</div>
  <div class="span4">
		<ul class="nav nav-list affix">
			<li class="nav-header">System administrator guide</li>
			<li><a href="#prerequisites">Prerequisites and recommendetions</a></li>
				<ul class="nav nav-list">
					<li><a href="#prerequisites">We want the 2nd level?</a></li>
					<li><a href="#prerequisites">Hardware</a></li>
					<li><a href="#prerequisites">Operating System</a></li>
				</ul>
			<li><a href="#installation">Installation</a></li>
			<li><a href="#configuration">Configuration</a></li>
			<li><a href="#operations">Operation</a></li>
		</ul>
	</div>
</div>
