---
layout: default
---

<div class="row">
	<div class="span8">
		{{ content }}
	</div>
  <div class="span4">
		<ul class="nav nav-list affix">
			<li class="nav-header">System administrator guide</li>
			
			<li><a href="#introduction">1. Introduction</a></li>
				<ul class="nav nav-list">
					<li><a href="#servicearchitecture">1.1 Service Architecture</a></li>
				</ul>
				
			<li><a href="#installprereq">2. Installation Prerequisites</a></li>
				<ul class="nav nav-list">
					<li><a href="#emi3instructions">2.1 General EMI 3 installation instructions</a></li>
					<li><a href="#systemusers">2.2 System users</a></li>
					<li><a href="#aclsupport">2.3 ACL support</a></li>
					<li><a href="#easupport">2.4 Extended Attribute support</a></li>
				</ul>
				
			<li><a href="#installationguide">3. Installation guide</a></li>
				<ul class="nav nav-list">
					<li><a href="#reposettings">3.1 Repository settings</a></li>
					<li><a href="#stormnodes">3.2 Install StoRM nodes</a></li>
				</ul>
			
			
			<li><a href="#configuration">4. Configuration</a></li>
				<ul class="nav nav-list">
					<li><a href="#yaimvariables">4.1 General YAIM variables</a></li>
					<li><a href="#feconf">4.2 Front-End configuration</a></li>
					<li><a href="#beconf">4.3 Back-End configuration</a></li>
					<li><a href="#ghttpconf">4.4 GridHTTPs configuration</a></li>
					<li><a href="#launchyaim">4.5 Launching YAIM configuration</a></li>
				</ul>
			
			<li><a href="#advconf">5. Advanced Configuration</a></li>
				<ul class="nav nav-list">
					<li><a href="#fe_advconf">5.1 Front-End Advanced Configuration</a></li>
					<li><a href="#be_advconf">5.2 Back-End Advanced Configuration</a></li>
					<li><a href="#gftp_advconf">5.3 GridFTP Advanced Configuration</a></li>
					<li><a href="#ghttp_advconf">5.4 GridHTTPs Advanced Configuration</a></li>
					<li><a href="#emir_advconf">5.5 StoRM EMIR Configuration</a></li>
				</ul>
				
			<li><a href="#AppendixA">Appendix A</a></li>
				<ul class="nav nav-list">
					<li><a href="#AppendixA">A.1 How-to configure LDAP Server to share users' accounts</a></li>
				</ul>
		</ul>
	</div>
</div>
